#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0d0505",
    floating_border_color: "#E27C95",
    focused_border_color: "#c2c0c0",
    background_color: "#0d0505",
)