@import url("../wal/colors-waybar.css");

* {
  font-family: Noto Sans;
  color: @foreground;
  background: transparent;
}

#window {
  background: alpha(@background, 0.60);
  border-radius: 9px;
  margin: auto;
  padding: 12px;

  border-style: solid;
  border-color: alpha(@color8, 0.60);
  border-width: 1px;
}

#input {
  padding: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: alpha(@color8, 0.60);
  margin: 8px;
  background-image: linear-gradient(to top, alpha(@color0, 0.70), alpha(@color1, 0.60));
  box-shadow: inset 0px -5px 8px alpha(@color0, 0.60);
}

#outer-box {
  padding: 0px;
  box-shadow: inset 0px 0px 8px alpha(@color0, 0.90);
}

#inner-box {
  padding: 0px;
}

#entry {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: alpha(@foreground, 0.01);
  border-bottom-color: alpha(@foreground, 0.25);
  border-right-color: alpha(@foreground, 0.25);

  padding: 4px;
  margin: 4px;
  margin-left: 8px;
  margin-right: 8px;
  background-image: linear-gradient(to bottom, alpha(@foreground, 0.10) 0%, alpha(@color0, 0.20) 50%, alpha(@color0, 0.35) 50%);
}
#entry:selected {
  background-color: alpha(@color6, 0.40);
  outline: none;
  box-shadow: 0px 0px 6px alpha(@color0, 0.50);
}
#img {
  margin-right: 6px;
}
#text {
  margin: 2px;
}
